.pid-infro li{width:330px;height:60px;margin:0 220px;color:#727272;position: relative;}
.pid-infro .error-box .tip{width:240px;height:16px;font-size:10px;position: absolute;top:39px;left:82px;}
.pid-infro .normal{width:75px;height: 20px;text-align: right;margin-top: 10px;}
.pid-infro .normal-input,.api-apply{width:240px;height:16px;padding:10px 0 10px 5px;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #ddd;}
.pid-infro li .sub1,.pid-infro li .sub2{width:60px;height:32px;color:#fff;cursor:pointer;margin-top:10px;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #00a0e9;background:#00a0e9;}
.pid-infro li .sub1{margin-left: 186px;margin-right:15px;}
.pid-infro li .sub2{color:#727272;background:#e8e8e8;border:1px solid #e8e8e8;}
.set-infro{margin:10px 0;}
/*addapi*/
li.apply-reason{height:148px !important;}
.api-apply{height:100px !important;}
.the-tip{top: 125px !important;}