*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#ff4400;
}
.header{
	width:100vw;
}
body{
	background: #fafafa;
}
.btn{
	display:block;
	width:100px;
	height:35px;
	background:red;
	color:#fff;
	text-align:center;
	line-height:35px;
}
.header .content{
	width:75vw;
	padding:1.5vw;
	margin:0 auto;
	background:#fff;
}
.header .content nav{
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #fafafa;
}
.header .content nav a{
	font-weight:900;
	font-size:18px;
}
.header .content nav p{
	font-size:12px;
	color:#929292;
}
.header .content nav span{
	font-size:12px;
	color:#929292;
}