/*subnav部分*/
.searchfail{position: relative;padding-left:130px;height:100px;background: #fff;margin:20px 0;color:#535353;font-size: 14px;}
.searchfail i{position: absolute;top:16px;left:34px;width:70px;height:70px;background:url(../images/all.png) no-repeat -288px -424px;}
.searchfail p{height:50px;line-height: 30px;}
.searchfail p.pfail{line-height: 70px;}
.searchfail span{font-weight: bold;}
.searchfail a{color:#ff464e;padding:0 10px;}

.sbanner{position: relative; width:1200px; height:200px; margin:0 auto 30px auto;}
.bannerimg{position: absolute; top:0;left:-360px;width:1920px; height:200px;}
.bannerimg img{height:200px;}
.menu{width:1198px;height:80px;margin:20px auto;border:1px solid #E4E4E6;}
.menu1{height:38px;line-height: 38px;border-bottom: 1px solid #E4E4E6;position: relative;}

.menu1 li{float:left;height:38px;line-height:38px;text-align: center;}
.menu1 li a.awidth{display:inline-block;padding:0 20px;}
.menu1 li.mu1 a,.menu1 li:hover a.awidth {display: inline-block;padding: 0 19px 0 20px;background: #fff;border-left:1px solid #E4E4E6;border-right:1px solid #E4E4E6;margin-left:-1px;color:#ff464e;}
.menu1 .menu-last{float:right;margin-right:10px;}
.menu1 .price,.menu1 .commission{position: relative;}
.pricetrend,.commission_rate_trend{width:111px;text-align:center;border:1px solid #E4E4E6;position: absolute;top:-1px;left:-1px;background:#fff;display:none;z-index: 100;}
.pricetrend2,.commission2{position: relative;top:-3px;}
.pricetrend a,.commission_rate_trend a{display:inline-block;height:38px;line-height:38px;width:111px !important;text-align: center;padding:0 !important;margin-left:0 !important;color:#707070 !important;}
.pricetrend p a:hover,.pricetrend p a:active{color:#ff464e !important;padding:0 !important;}
.commission_rate_trend p a:hover,.commission_rate_trend p a:active{color:#ff464e !important;padding:0 !important;}
.sales p a:hover,.sales p a:active{color:#ff464e;}
.menu2{height:41px;line-height:38px;background: #fff;}
.ipt-color{color:#a2a2a2;}
.menu2 li{float:left;margin-left:20px;}
.menu2 li label{margin:0 4px;}
.menu2 li.input1 input{ height:16px;width:15px;vertical-align:middle;}
.menu2 .input2 input{height:20px;width:35px;padding-left:5px;border:1px solid #F2F2F0;}
.menu2 .input2 button{background:#ff464e;color:#fff;border:1px solid #ff464e;margin:0 5px;border-radius: 2px; -webkit-border-radius: 2px;-moz-border-radius: 2px;display: none;padding:2px 5px;}		
.menu2 .btn1:hover button{display:inline-block;}
.menu2 .btn2:hover button{display:inline-block;}	
.menu2 .btn3:hover button{display:inline-block;}

.goods-a i.topnum{position: absolute;top:0;left:-1px;width:64px;height:52px;line-height:16px;padding-top:7px;text-align:center;background:url(../images/all.png) no-repeat -373px -433px;color:#fff;font-size: 14px;}
.goods-a i.topnum em{display:block;width:64px;text-align:center;font-weight: normal;}
.good1_one p.salesnum{height:30px;line-height: 30px;padding-left: 10px;color:#ff0000;}
.good1_one p.salesnum span{font-size:14px;padding:0 2px;}
/*goods部分*/
.goods{height:100%;border-bottom:3px solid #ff2932;padding-bottom: 70px;}
.newdays2{width:63px;height:52px;top:0;left:-1px;margin:0;position:absolute;}
.goods1{width:1200px;height:100%;margin:10px auto;}



